<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
            
            
    <context:property-placeholder location="classpath:/config/redis-bis.properties" /> 



	<!-- Redis连接池 -->
	<bean id="bisJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${bis_redis.maxTotal}" />
		<property name="maxIdle" value="${bis_redis.maxIdle}" />
		<property name="minIdle" value="${bis_redis.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${bis_redis.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${bis_redis.minEvictableIdleTimeMillis}" />
		<property name="testOnBorrow" value="${bis_redis.testOnBorrow}" />
	</bean>

	<!-- Redis主机连接配置 -->
	<bean id="bisRedisSentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
		<property name="master">
			<bean class="org.springframework.data.redis.connection.RedisNode">
				<property name="name" value="r2"></property>
			</bean>
		</property>

		<property name="sentinels">
			<set>
				<!-- 假如只有一个节点把下面两个屏蔽掉也可以 -->
				<bean class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${bis_redis.host}"></constructor-arg>
					<constructor-arg name="port" value="${bis_redis.port}"></constructor-arg>
				</bean>
				<bean class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${bis_redisNode1.host}"></constructor-arg>
					<constructor-arg name="port" value="${bis_redis.port}"></constructor-arg>
				</bean>
				<bean class="org.springframework.data.redis.connection.RedisNode">
					<constructor-arg name="host" value="${bis_redisNode2.host}"></constructor-arg>
					<constructor-arg name="port" value="${bis_redis.port}"></constructor-arg>
				</bean>
			</set>
		</property>
	</bean>
	
	<!-- Redis工厂 -->
	<bean id="bisJeidsConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<constructor-arg ref="bisRedisSentinelConfiguration" />
		<property name="poolConfig" ref="bisJedisPoolConfig" />
	</bean>

	<!-- Redis操作模板 -->
	<!-- <bean id="goodsRedisTemplate" class="org.springframework.data.redis.core.RedisTemplate" p:connection-factory-ref="goodsJeidsConnectionFactory" /> -->
	<bean id="bisRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate" p:connection-factory-ref="bisJeidsConnectionFactory" />

	<!-- Redis操作Service -->
	<bean id="bisRedisSlave" class="com.momo.redis.BisRedisSlave">
		<property name="redistemplate" ref="bisRedisTemplate"></property>
	</bean> 
	

</beans> 